.bodyIndex {
  background-color: whitesmoke; }

h1 {
  color: #BE5869;
  text-align: center; }

h2 {
  color: #BE5869;
  font-size: 1.5rem; }

p {
  color: #BE5869;
  display: flex;
  align-items: center;
  align-content: center; }

.navvvvv {
  background-color: #f46b45; }

body {
  background-color: #403A3E; }

.quienesSomos {
  color: #f46b45; }

.info {
  color: #BE5869;
  font-size: 1.1rem; }

.imgFaq {
  display: flex;
  justify-content: center;
  width: 75vw;
  max-width: 10000px;
  min-width: 320px;
  margin: auto; }

img {
  width: 60%;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5); }

.divCaja {
  margin-left: 28%;
  width: 45%;
  opacity: 80%;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5); }

.faqP {
  padding: 10px;
  color: #090f79;
  text-transform: uppercase;
  text-decoration: solid; }

.h2Envios {
  color: green;
  font-size: 1.7rem; }

.divEnvios {
  background-color: whitesmoke;
  margin-left: 28%;
  margin-top: 50px;
  width: 45%;
  opacity: 80%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(241, 241, 241, 0.959); }

.pEnvios {
  color: black;
  font-size: 15px; }

.contacto form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70vw; }

.campo {
  display: inline-block; }

.boton {
  color: black;
  background-color: #d3e4cd;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  bottom: 20px;
  left: 10px; }

.h3Contacto {
  color: orangered; }

.labelContacto {
  color: black; }

.h2Contacto {
  position: static; }

.caja {
  margin: 20px;
  padding: 20px;
  border: 1px solid #444444;
  border-radius: 4px;
  box-shadow: 3px 3px 10px;
  text-align: center; }

.marginInfo {
  margin: 30px 50px 200px 50px; }

.marginFaq {
  margin: 20px 10px 10px 30px; }

.card-text {
  color: #8E0E00;
  font-size: 30px; }

.primerExtend, .segundoExtend {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center; }

.segundoExtend {
  font-size: 20px; }

.info2 {
  color: #BE5869;
  font-size: 1.1rem;
  font-size: 1.5rem; }
