h1 {
  color: #BE5869; }

p {
  color: #BE5869;
  display: flex;
  align-items: center;
  align-content: center; }

.navvvvv {
  background-color: #f46b45; }

body {
  background-color: #403A3E; }

.quienesSomos {
  color: #f46b45; }

.info {
  color: #BE5869;
  font-size: 1.1rem; }

.card-text {
  color: #8E0E00;
  font-size: 30px; }

.primerExtend, .segundoExtend {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center; }

.segundoExtend {
  font-size: 20px; }

.info2 {
  color: #BE5869;
  font-size: 1.1rem;
  font-size: 1.5rem; }
