
$color-principal: #BE5869;

h1 {
    color: $color-principal;
}
// h2 {
//     color: $color-principal;
// }

p {
    color: $color-principal;
    display: flex;
    align-items: center;
    align-content: center;
}

// .card-text {
//     color: #8E0E00;
// }
.navvvvv {
    background-color: #f46b45;
}


body {
    background-color: #403A3E;
}


.quienesSomos {
    color: #f46b45;
}

.info {
    color: $color-principal;
    font-size: 1.1rem;
}
@import "mapget";
@import "extend";