
$color-principal: #BE5869;

h1 {
    color: $color-principal;
    text-align: center;
}
h2 {
    color: $color-principal;
    font-size: 1.5rem;
}

// h2 {
//     color: $color-principal;
// }

p {
    color: $color-principal;
    display: flex;
    align-items: center;
    align-content: center;
}

// .card-text {
//     color: #8E0E00;
// }
.navvvvv {
    background-color: #f46b45;
}


body {
    background-color: #403A3E;
}


.quienesSomos {
    color: #f46b45;
}

.info {
    color: $color-principal;
    font-size: 1.1rem;
}
.imgFaq {
display: flex;
justify-content: center;
width: 75vw;
max-width: 10000px;
min-width: 320px;
margin: auto;
}

img {
    width: 60%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5)
}
.divFaqP {
    margin-left: 28%;
    width: 45%;
    opacity: 80%;
background-color: whitesmoke;
border-radius: 15px;
box-shadow: 0px 3px 5px rgba(15, 15, 15, .5)
}

.faqP {
    padding: 10px;
    color: #090f79;
    text-transform: uppercase;
    text-decoration: solid;
}

.h2Envios {
    color: green;
    font-size: 1.7rem;
}
.divEnvios {
    background-color: whitesmoke;
    margin-left: 28%;
    margin-top: 50px;

    width: 45%;
    opacity: 80%;
border-radius: 10px;
box-shadow: 1px 1px 5px rgba(241, 241, 241, 0.959);
// border: 0.1px whitesmoke solid;
}
.pEnvios {
    color: black;
    font-size: 15px
}

@import "mapget";
@import "extend";
@import "mixin";